.a{
    height: 100vh;
    display: flex;
    align-items: center;

}
.a-btn{
  flex-direction: column;
   margin: 20px 10px;
   margin-left:120px;
}
button{
    border: none;
    padding: 15px;
    background-color:rgb(140, 127, 85);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  
}

.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   height: 100%;
    
}
.a-right{
    flex:1;
}
/* .a-card.bg{
   position: absoute;
   top: 50px;
   left: 50px;
   background-color: #333;
} */


.a-card.bg{
    
    /* clip-path: polygon(26% 0, 3% 91%, 87% 50%); */
    /* clip-path: polygon(16% 0, 0 90%, 87% 50%); */

    clip-path: polygon(16% 0, 0 90%, 100% 73%);

    background-color:rgb(140, 127, 85) ;
    width: 96%;
    height: 96%;
    position: absolute;
    top: 0;
    right: 0;  
    border-radius: 30px;

 }
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
}
.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    font-weight: 400;
}
.a-sub{
    margin: 20px, 0px;

}
.sub{
    padding: 10px;
}

.a-desc{
    padding: 10px;
    font-weight: 300;
    margin: 20px, 0px;
}
@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left{
       width: 100%
    }
    .a-card{
        height: 45vh
    }
    /* .a-card.bg {
        height: 45vh;
    } */
   
    .a-right{
        padding: 20px
    }
    /* .a-desc{
        font-size: 10px;
    } */
    .sub{
        display: none;
    }
    .a-btn{
        flex-direction: column;
         margin: 20px 10px;
        
      }
    .btn{
        margin-top: 10px;
        margin-right: 100px;
        font-size: 10px;
        text-align: center;
    }
        
    
}
